td {
  word-break: break-all;
}

:host ::ng-deep .ant-table-scroll {
  position: relative;
}

:host ::ng-deep .ant-pagination {
  padding: 16px 0;
  text-align: right;
  box-shadow: 0 0 2px 0 rgba(194, 194, 194, 0.5);
}

:host ::ng-deep .fixed-pagination .ant-table-placeholder {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: none;
}

:host ::ng-deep .ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters > *:not(.ant-table-column-sorter) {
  position: unset;
}
