:host ::ng-deep .ant-table-scroll {
  position: relative;
}

:host ::ng-deep .fixed-pagination .ant-table-placeholder {
  position: absolute;
  bottom: 0;
  width: 100%;
}

td {
  word-break: break-all;
}

.clear-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: rgba(0, 0, 0, 0.45);
  }
}
